.matches__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    max-width: 1000px;
    max-height: 80vh;
    margin: 20px auto;
    padding: 20px;
    background-color: hsl(239, 94%, 19%);
    border: 2px solid hsl(239, 94%, 9%);
    border-radius: 4px;
    box-shadow: 0 0 5px 2px hsl(239, 94%, 11%);
}

.matches__container--buttons {
    max-width: 500px;
    padding: 5px;
}

.matches__matchesList {
    max-width: 500px;
    background-color: hsl(239, 94%, 13%);
    margin: 0 auto;
    box-shadow: 0 0 5px 2px hsl(239, 94%, 11%);
    max-height: 550px;
    overflow-y: auto;
}