.matches__matchesList {
    margin: 0 auto;
    box-shadow: 0 0 5px 2px hsl(239, 94%, 11%);
    max-height: 550px;
    overflow-y: auto;
}

@media (max-width: 767px) {
    .matches__matchesList {
        max-height: 300px;
    }
}