.settingsPlayers {
    margin: 20px;
    padding: 0 0 20px;
}

.settingsPlayers__item {
    display: grid;
    grid-template-columns: 1fr auto;
    border-bottom: 2px solid hsla(239, 94%, 9%, 0.8);
    margin: 0 auto;
}

.settingsPlayers__task {
    margin: auto 0;
}

.settingsPlayers__button {
    background-color: hsl(0, 100%, 40%);
    background-image: url("./delete.png");
    background-position: cover;
    width: 40px;
    height: 40px;
    margin: 10px;
    background-size: cover;
    border: none;
    transition: 0.25s;
}

.settingsPlayers__button:hover {
    background-color: hsl(0, 100%, 45%);
}