.buttons__button {
    display: block;
    margin: 0 auto;
    color: #fff;
    background-color: hsl(201, 100%, 36%);
    padding: 10px;
    border: 2px solid hsl(239, 94%, 9%);;
    border-radius: 4px;
    transition: 0.5s;
    height: 45px;
}

.buttons__button:hover {
    background-color: hsl(201, 100%, 46%);
    transform: scale(1.05);
}

@media (max-width: 767px) {
    .buttons__button:hover {
        transform: scale(1.02);
    }
}

.buttons__button:disabled {
    color: #ccc;
}