.buttons__button {
    display: block;
    margin: 0 auto;
    color: #fff;
    background-color: hsl(201, 100%, 36%);
    padding: 10px;
    border: 2px solid hsl(239, 94%, 9%);
    border-radius: 4px;
    transition: 0.3s;
    height: 45px;
}

.buttons__button:hover {
    background-color: hsl(201, 100%, 43%);
}

.buttons__button:active {
    background-color: hsl(201, 100%, 50%);
}

.buttons__button:disabled {
    color: #ccc;
    transform: none;
    background-color: hsl(201, 30%, 36%);
}